<what-does-the-piece-see>
    <h1>What Does The Piece See</h1>

    <h4>A Knight is on f3. List every square it can attack.</h4>

    <textarea style="height:12rem; background-color: seashell; resize: none"></textarea>
    <div style="text-align: right">
        <button class="button button-green">Final Answer</button>
    </div>

    <style>
        .prompt input {
            width: 4rem;
        }
    </style>

</what-does-the-piece-see>